@import '../../../../styles/styles.scss';

.form-container {
  display: flex;
  justify-content: center;
  padding: 0 3rem 4vh 3rem;
}

.car-preview {
  height: 20rem;
  border-radius: 1rem;
}

.car-details-readonly {
  margin-top: 10rem;
}

.car-title {
  font-family: 'ArchiaBold', sans-serif;
  color: $color-grey-dark;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: block;
}

.car-info-container {
  display: flex;
}

.form-group-wrapper {
  position: relative;
}

.form-group {
  margin-right: 4.5rem;
  margin-bottom: 1.3rem;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 902px) {
    margin-right: 0.5rem;
  }

  label {
    min-width: 22rem;

    @media screen and (max-width: 902px) {
      text-align: left;
    }
  }
}
.car-info {
  background-color: $color-grey-light;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-right: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  span {
    font-family: 'ArchiaRegular', sans-serif;
    color: $color-grey-dark;
  }

  p {
    font-family: 'ArchiaSemiBold', sans-serif;
    color: $color-grey-dark;
    font-size: 2.5rem;
  }
}

fieldset {
  border: 0;
}

.search-button-return {
  margin-top: 1rem;

  .btn-return {
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
  }
}

.car-form-container {
  margin-top: 3rem;
  padding: 2.5rem 10rem;
  border-radius: 1rem;
  background-color: $color-grey-light;
  font-family: 'ArchiaSemiBold', sans-serif;
  display: flex;
  label {
    margin-top: 1rem;
    height: 4rem;
    margin-right: 1.5rem;
    line-height: 2.4;

    &[required]::after {
      content: '*';
      color: $color-alert-red;
    }
  }

  @media screen and (max-width: 902px) {
    padding: 2.5rem 1rem;
  }
}

.mat-datepicker-toggle {
  margin-top: 0.8rem;
  margin-left: -4rem;

  @media screen and (max-width: 689px) {
    margin-top: 0px;
  }
}

.search-button-container {
  background-color: $color-grey-light;
  margin-top: 0.3rem;
  padding: 1rem 0.3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 902px) {
    justify-content: space-evenly;

    button {
      width: 100%;
    }
  }

  .btn:last-child:not(:only-child) {
    margin-left: 0.6rem;
  }
}

.form-inputs-container,
.form-labels-container {
  display: flex;
  flex-direction: column;
  margin-right: 0.2rem;

  .form-group {
    position: relative;

    .inner-label {
      font-family: 'ArchiaRegular', sans-serif;
      font-size: 1.5rem;
      color: $color-grey-dark;
      margin-right: 0px;
    }
  }

  .form-group-error-message {
    text-align: left;
    position: absolute;
    font-size: 1.3rem;
    color: $color-alert-red;
    right: 50px;
    top: 40px;

    @media screen and (max-width: 689px) {
      left: 0px;
      top: 8.2rem;
    }
  }
}

.form-labels-container {
  text-align: right;
}

@media screen and (max-width: 689px) {
  input,
  select {
    margin-top: 0;
  }
}
