/* Color Variables */
$color-primary: #df4e3c;
$color-primary-dark: #c33b2a;

$color-secondary: #282842;
$color-secondary: #0d0d1a;

$color-tertiary: rgb(191, 211, 197);

$color-grey-light: #bfd3c5;
$color-grey: #696868;

$color-background: rgb(244, 246, 245);

$color-white: #ffff;
$color-black: #000;

/* Font Variables */
$default-font-size: 1.6rem;
