@import '../../../styles/styles.scss';

.landing {
  padding: 0 2rem;
  margin-bottom: 4vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;

  &-heading {
    margin-top: 10rem;
    margin-left: 1.5rem;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;

    &-info {
      margin-left: 1.5rem;
      max-width: 80rem;
      min-width: 20rem;
      text-justify: distribute;
      font-size: 1.6rem;
      flex-shrink: 1;
      padding-top: 2rem;
    }

    &-action {
      margin-top: 2rem;
      margin-left: 1.5rem;
    }
  }
}
