@import '../../../../styles/styles.scss';

.header {
  background-color: $color-tertiary;
  width: 100%;

  &-normal {
    text-align: left;
    height: 8vh;

    &-logo {
      margin-left: 20px;
      margin-top: 5px;
      height: 90%;
      width: 15rem;
      top: 1rem;
    }
  }

  &-landing {
    text-align: center;
    height: 30vh;

    @media screen and (max-width: 760px) {
      height: 20vh;
    }

    &-logo {
      margin-top: 5rem;
      height: 90%;
      width: 50rem;
      top: 12rem;

      @media screen and (max-width: 760px) {
        margin-top: 3rem;
        width: 90vw;
      }
    }
  }
}
